@page "/webapp"

@inject PESUEatsBlazorServer.Services.PESUEatsWebAPIService PESUEatsWebAPI

<PageTitle>PESUEats App</PageTitle>

@using Npgsql

<MudText Typo="Typo.h2">App</MudText>

@*<MudButton OnClick="LoadData">Load data</MudButton>*@

@*if (restaurants.Count() != 0)
{
	<MudTable Items="@restaurants" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>SSN</MudTh>
            <MudTh>pno</MudTh>
            <MudTh>hours</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="SSN">@context.Ssn</MudTd>
            <MudTd DataLabel="pno">@context.ProjectNumber</MudTd>
            <MudTd DataLabel="hours">@context.Hours</MudTd>
        </RowTemplate>
	</MudTable>
}
else
{
	<p>Something's wrong</p>
}*@


@code {
    //https://zetcode.com/csharp/postgresql/

    private IEnumerable<Restaurant> restaurants = new List<Restaurant>();

    protected override async void OnInitialized()
    {
        
    }
}
