<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavGroup Title="🍱 PESUEats App" Expanded="true">
        <AuthorizeView Roles="customer,da,restaurant,admin">
            <Authorized>
                <MudNavLink Href="/app/shared/profile">My Profile</MudNavLink>
                <AuthorizeView Roles="customer" Context="customerUser">
                    <Authorized>
                        <MudNavLink Href="/app/customer/orders">My Orders</MudNavLink>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="restaurant" Context="restaurantUser">
                    <Authorized>
                        <MudNavLink Href="/app/restaurant/orders">My Orders</MudNavLink>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="da" Context="daUser">
                    <Authorized>
                        <MudNavLink Href="/app/da/orders">My Orders</MudNavLink>
                    </Authorized>
                </AuthorizeView>
                
                <AuthorizeView Roles="customer,da,restaurant" Context="nonadminUser">
                    <Authorized>
                        <MudNavLink Href="/app/shared/wallet">My Wallet</MudNavLink>
                    </Authorized>
                </AuthorizeView>
            </Authorized>
            <NotAuthorized>
                <p>You need to Log in</p>
            </NotAuthorized>
        </AuthorizeView>
    </MudNavGroup>
    <MudNavGroup Title="🚨 Admin" Expanded="false">
        <AuthorizeView Roles="admin">
            <Authorized>
                <MudNavLink Href="/admin/overview">Overview</MudNavLink>
                <MudNavLink Href="/admin/ls/restaurants">Restaurants</MudNavLink>
            </Authorized>
            <NotAuthorized>
                <p>You need to Log in as Admin</p>
            </NotAuthorized>
        </AuthorizeView>
    </MudNavGroup>
    <MudNavLink Href="/about">ℹ️ About</MudNavLink>
    <MudNavLink Href="/test">💀 Test</MudNavLink>
</MudNavMenu>
