@page "/admin/overview"
@attribute [Authorize(Roles = "admin")]

@inject PESUEatsBlazorServer.Services.PESUEatsWebAPIService PESUEatsWebAPI

<h3>Admin</h3>

<MudButton OnClick="GetUsers">Get Users</MudButton>

@if (users.Count() != 0)
{
	<MudTable Items="@users" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Username</MudTh>
            <MudTh>Roles</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Username">@context.username</MudTd>
            <MudTd DataLabel="Roles">@string.Join(",", context.roles.ToArray())</MudTd>
        </RowTemplate>
	</MudTable>
}
else
{
	<p>Something must have gone wrong. Try clicking the button again.</p>
}

@code {
    //https://zetcode.com/csharp/postgresql/

    private IEnumerable<User> users = new List<User>();

    //protected override async void OnInitialized()
    //{
        
    //}

    public async void GetUsers()
    {
        users = await PESUEatsWebAPI.GetUsersAsync(null);
        StateHasChanged();
    }
}
