@page "/app/restaurant/orderhistory"
@attribute [Authorize(Roles = "restaurant")]

@inject PESUEatsBlazorServer.Services.PESUEatsWebAPIService PESUEatsWebAPI
@inject IDialogService DialogService

<PageTitle>📃 Order History</PageTitle>
<h3>📃 Order History</h3>

@code {
    [CascadingParameter]
    private string UserAuthToken { get; set; } = "";
}
